* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #573a3d;
}

#calculator, #display, .row button {
    border-radius: 8px;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 600px;
    padding: 20px;
    margin: auto;
    background-color: #f6e0b5;
}

#display {
    background-color: #a39193;
    height: 100px;
    margin: 25px;
}

#input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 20px 0px;
}

.row {
    display: flex;
    width: 100%;
}

.row button {
    flex: 1;
    padding: 20px;
    margin: 0px 25px;
    border: 0px;
    background-color: #66545e;
    color: #eea990;
    cursor: pointer;
    transition: all 0.2s linear;
}

.row button:hover {
    box-shadow: 0 0 0px 5px #66545e;
}

.row .digit {
    color: #ffffff;
    font-size: 20px;
}

.function {
    padding: 10px 20px;
    font-size: 20px;
}

.row .equal {
    background-color: #aa6f73;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 30px;
}

.row .equal:hover {
    box-shadow: 0 0 0px 5px #aa6f73;
}

.row .decimal {
    padding: 10px 20px;
    font-size: 30px;
}